<!-- prs footer Wrapper Start -->
<div class="prs_footer_main_section_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_1">
          <h2>LANGUAGE MOVIES</h2>
          <ul>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">English movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Tamil movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Punjabi Movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Hindi movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Malyalam movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">English Action movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Hindi Action movie</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_2">
          <h2>MOVIES by presenter</h2>
          <ul>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Action movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Romantic movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Adult movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Comedy movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Drama movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Musical movie</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Classical movie</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_3">
          <h2>BOOKING ONLINE</h2>
          <ul>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">www.example.com</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">www.hello.com</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">www.example.com</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">www.hello.com</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">www.example.com</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">www.hello.com</a>
            </li>
            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">www.example.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_4">
          <h2>App available on</h2>
          <p>Download App and Get Free Movie Ticket !</p>
          <ul>
            <li>
              <a href="#">
                <img src="assets/images/content/f1.jpg" alt="footer_img">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/content/f2.jpg" alt="footer_img">
              </a>
            </li>
          </ul>
          <h5><span>$50</span> Payback on App Download</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="prs_bottom_footer_wrapper">	<a href="javascript:" id="return-to-top"><i class="flaticon-play-button"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <div class="prs_bottom_footer_cont_wrapper">
          <p>Copyright 2019-20 <a href="#">Movie Pro</a> . All rights reserved - Design by <a href="#">Webstrot</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
        <div class="prs_footer_social_wrapper">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prs footer Wrapper End -->
