@media only screen and (min-width: 1200px){
    h1 {
        font-size: 48px;
    }
    th{
        font-size: 24px;
        padding: 20px;
    }
    td{
        font-size: 24px;
    }
    .text{
        font-size: 24px;
    }
}

