<!-- prs footer Wrapper Start -->
<div class="prs_bottom_footer_wrapper">	<a href="javascript:" id="return-to-top"><i class="flaticon-play-button"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <div class="prs_bottom_footer_cont_wrapper">
          <p>Copyright 2022 <a routerLink="/movie">CodeGym Cinema</a> . All rights reserved - Design by <a href="#">CodeGym
            Team</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
        <div class="prs_footer_social_wrapper">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prs footer Wrapper End -->
