.margin {
    margin: 5px 20px 10px 0px;
}

.img {
    width: 200px
}

@media only screen and (min-width: 800px){
    .img {
        width: 400px
    }
}

@media only screen and (min-width: 1200px){
    .img {
        width: 500px
    }
    h1 {
        font-size: 48px;
    }
    h2{
        font-size: 32px;
    }
    th{
        font-size: 24px;
        padding: 20px;
    }
    td{
        font-size: 24px;
    }
}

