<div *ngIf="booking" class="container" style="margin-top: 10%">
    <h1 class="text-center font-weight-bold" *ngIf="!checkStatus">XÁC NHẬN NHẬN VÉ</h1>
    <h1 class="text-center font-weight-bold" *ngIf="checkStatus">THÔNG TIN ĐẶT VÉ</h1>
    <hr>
    <table class="container">
        <tr>
            <td class="col-lg-5">
                <img style="width: 350px; height: 350px" src="https://tse1.mm.bing.net/th?id=OIP.Wds-PDrIxUDUi7Qu9jA-WQHaE1&pid=Api&P=0&w=274&h=179"
                     class="img-circle">
            </td>
            <td>
                <div class="margin">
                    <h2>{{booking.showTime.movie.name}}</h2>
                    <table class="table table-hover">
                        <tr>
                            <th scope="col">Ngày chiếu</th>
                            <td scope="col">{{booking.showTime.startDate}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Giờ chiếu</th>
                            <td scope="col">{{booking.showTime.startTime}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Ghế</th>
                            <td scope="col">
                                <span *ngFor="let ticket of ticketList">{{ticket.seat.name}}<br></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Giá</th>
                            <td scope="col">
                                <span *ngFor="let ticket of ticketList">{{ticket.seat.name}}
                                    : {{ticket.price | currency: "VND"}}<br></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Tổng cộng</th>
                            <td scope="col">{{totalMoney | currency: "VND"}}</td>
                        </tr>
                    </table>
                    <hr>
                    <h2>Thông tin thành viên</h2>
                    <table class="table table-hover">
                        <tr>
                            <th scope="col-4">Mã thành viên</th>
                            <td scope="col-3">{{booking.user.id}}</td>
                        </tr>
                        <tr>
                            <th scope="col">CMND</th>
                            <td scope="col">{{booking.user.idCard}}</td>
                        </tr>
                        <tr>
                            <th scope="col-4">Họ tên</th>
                            <td scope="col-3">{{booking.user.fullName}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Số điện thoại</th>
                            <td scope="col">{{booking.user.phoneNumber}}</td>
                        </tr>
                    </table>
                    <br>
                    <button *ngIf="!checkStatus" type="button" class="btn text-light"
                            style="background: #26B99A; color: white;"
                            (click)="ticketReceipt(booking.id)">Xác nhận nhận vé
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
