<div class="container">
    <form class="form-group" [formGroup]="formMovie" (ngSubmit)="createMovie()">
        <h2>Thêm mới phim</h2>
        <div class="form-group">
            <div class="col-sm-12 row">
                <div><img [src]="url" *ngIf="url"  class="img-thumbnail" style="width: 200px"></div>
                <div class="col-sm-7">
                </div>
                <input type="file" id="img" name="img"  (change)="selectFile($event)" formControlName="poster">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 row">
                <label class="col-2 col-form-label">Tên phim</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="name">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 row">
                <label class="col-2 col-form-label">Từ ngày</label>
                <div class="col-sm-8">
                    <input type="datetime-local" class="form-control" formControlName="openingDay">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 row">
                <label class=" col-2 col-form-label">Đến ngày</label>
                <div class="col-sm-8">
                    <input type="datetime-local" class="form-control" formControlName="endDay">
                </div>
            </div>
        </div>
        <!--        <div class="form-group">-->
        <!--            <div class="col-sm-12 row">-->
        <!--                <label class="col-2 col-form-label">Diễn viên</label>-->
        <!--                <div class="col-sm-8">-->
        <!--                    <input type="text" class="form-control" formControlName="actorList">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--            <div class="col-sm-12 row">-->
        <!--                <label class=" col-2 col-form-label">Hãng phim</label>-->
        <!--                <div class="col-sm-8">-->
        <!--                    <input type="text" class="form-control" formControlName="producerList">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--            <div class="col-sm-12 row">-->
        <!--                <label class="col-2 col-form-label">Đạo diễn</label>-->
        <!--                <div class="col-sm-8">-->
        <!--                    <input type="text" class="form-control" formControlName="directorList">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="form-group">
            <div class="col-sm-12 row">
                <label class="col-2 col-form-label">Thời lượng</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" formControlName="duration">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 row">
                <label class="col-2 col-form-label">Phiên bản</label>
                <div class=" form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                           value="_2D" formControlName="type">
                    <label class="form-check-label" >2D</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                           value="_3D" formControlName="type">
                    <label class="form-check-label">3D</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 row">
                <label class="col-2 col-form-label">Trailer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="trailer">
                </div>
            </div>
        </div>
        <!--        <div class="form-group">-->
        <!--            <div class="col-sm-12 row">-->
        <!--                <label class="col-2 col-form-label">Thể loại</label>-->
        <!--                <div class="col-2">-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="1" formControlName="genreList">-->
        <!--                        <label class="form-check-label">Hành động</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="2" formControlName="genreList">-->
        <!--                        <label class="form-check-label">Viễn tưởng</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option3">-->
        <!--                        <label class="form-check-label">Hoạt hình</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option3">-->
        <!--                        <label class="form-check-label">Võ thuật</label>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option1">-->
        <!--                        <label class="form-check-label">Hài hước</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option2">-->
        <!--                        <label class="form-check-label">Chiến tranh</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option3">-->
        <!--                        <label class="form-check-label">Kinh dị</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option3">-->
        <!--                        <label class="form-check-label">Kinh điển</label>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option1">-->
        <!--                        <label class="form-check-label">Lãng mạn</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option2">-->
        <!--                        <label class="form-check-label">Kiếm hiệp</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option3">-->
        <!--                        <label class="form-check-label">Phiêu lưu</label>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option3">-->
        <!--                        <label class="form-check-label">Tâm lý</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option3">-->
        <!--                        <label class="form-check-label">Tình cảm</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-check form-check-inline">-->
        <!--                        <input class="form-check-input" type="checkbox" value="option3">-->
        <!--                        <label class="form-check-label">Âm nhạc</label>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--            <div class="col-sm-12 row">-->
        <!--                <label class="col-2 col-form-label">Phòng chiếu</label>-->
        <!--                <div class="col-sm-2">-->
        <!--                    <select class="custom-select">-->
        <!--                        <option value="pc001">PC001</option>-->
        <!--                        <option value="pc002">PC002</option>-->
        <!--                        <option value="pc003">PC003</option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
<!--                <div class="form-group">-->
<!--                    <div class="col-sm-12 row" formArrayName="startTime">-->
<!--                        <label class="col-2 col-form-label">Lịch chiếu</label>-->
<!--                        <div class="col-sm-2">-->
<!--                            <input type="text" class="form-control" formControlName="startTime">-->
<!--                        </div>-->
<!--                        <div class="col-sm-2" id="showtime">-->
<!--                            <button class="btn btn-primary" (click)="addTime()">Thêm giờ chiếu</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <div class="col-sm-12 row" formArrayName="startTime">-->
<!--                        <label class="col-2 col-form-label" id="hidden"></label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <input class="form-control" formControlName="showTimeList">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
        <div class="form-group">
            <div class="col-sm-12 row">
                <label class="col-2 col-form-label">Nội dung</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" formControlName="content"></textarea>
                </div>
            </div>
        </div>
        <div align="center">
            <button routerLink="/movie" type="button" class="btn btn-secondary">Quay lại</button>
            <button type="submit" class="btn btn-primary">Thêm mới</button>
        </div>
    </form>
</div>



