<h2 class="name-page">Chỉnh sửa nhân viên</h2>
<form [formGroup]="updateEmployee" (ngSubmit)="save()">

    <div class="form-group">
        <div class="custom-file">
            <input type="file" id="image" name="image" (change)="showPreview($event)">
            <label class="custom-file-label" for="image">Chọn ảnh</label>
            <input type="hidden" formControlName="image" name="image" class="custom-file-input">
        </div>
        <div>
            <img [src]="updateEmployee.value.image" *ngIf="updateEmployee.value.image" class="img-thumbnail">
        </div>
    </div>

    <div class="form-group">
        <label for="username">Tài Khoản *</label>
        <input class="form-control" type="text" readonly id="username" formControlName="username">

    </div>

    <div class="form-group">
        <label for="password">Mật Khẩu *</label>
        <input type="password" class="form-control" id="password" formControlName="password">
    </div>

    <div class="form-group">
        <label for="fullName">Họ Và Tên</label>
        <input type="text" class="form-control" id="fullName" formControlName="fullName">
    </div>

    <div class="form-group">
        <label for="dayOfBirth">Ngày Sinh</label>
        <input type="date" id="dayOfBirth" name="dayOfBirth" formControlName="dayOfBirth">
    </div>

    <div class="form-group">
    <label for="gender">Gender</label>
    <input type="text" class="form-control" id="gender" formControlName="gender">
</div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email">
    </div>

    <div class="form-group">
        <label for="idCard">CMND</label>
        <input type="text" class="form-control" id="idCard" formControlName="idCard">
    </div>

    <div class="form-group">
        <label for="phoneNumber">Số Điện Thoại</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
    </div>

    <div class="form-group">
        <label for="address">Địa Chỉ</label>
        <input type="text" class="form-control" id="address" formControlName="address">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
