<h2 class="name-page">Chỉnh sửa nhân viên</h2>
<form [formGroup]="updateEmployee" (ngSubmit)="save()">

    <div class="form-group">
        <div class="custom-file">
            <input type="file" id="image" name="image" (change)="showPreview($event)">
            <label class="custom-file-label" for="image">Chọn ảnh</label>
            <input type="hidden" formControlName="image" name="image" class="custom-file-input">
        </div>
        <div>
            <img [src]="updateEmployee.value.image" *ngIf="updateEmployee.value.image" class="img-thumbnail" width="300" height="300">
        </div>
    </div>

    <div class="form-group">
        <label for="username">Tài Khoản *</label>
        <input class="form-control" type="text" readonly id="username" formControlName="username">

    </div>

    <div class="form-group">
        <label for="password">Mật Khẩu *</label>
        <input type="password" class="form-control" id="password" formControlName="password">
    </div>

    <div class="form-group">
        <label for="fullName">Họ Và Tên</label>
        <input type="text" class="form-control" id="fullName" formControlName="fullName">
        <small class="form-text text-danger"
               *ngIf="updateEmployee.get('fullName')?.hasError('required')  && updateEmployee.get('fullName')?.touched">
            Họ và tên không được để trống
        </small>
    </div>

    <div class="form-group">
        <label for="dayOfBirth">Ngày Sinh &nbsp;</label>
        <input type="date" id="dayOfBirth" name="dayOfBirth" formControlName="dayOfBirth">

        <small class="form-text text-danger"
               *ngIf="updateEmployee.get('dayOfBirth')?.hasError('invalidAge') && updateEmployee.get('dayOfBirth')?.touched">
            Quá ngày hiện tại
        </small>
    </div>

    <div class="form-group">
        <label for="gender">Giới tính &nbsp;</label>
        <select name="gender" id="gender" formControlName="gender" class="select_gender" aria-label="Default select example">

                <option [selected]="updateEmployee.value.gender == 'MALE'" value="MALE">
                    Nam
                </option>
                <option [selected]="updateEmployee.value.gender == 'FEMALE'"
                        value="FEMALE">Nữ
                </option>
                <option [selected]="updateEmployee.value.gender == 'OTHER'" value="OTHER">
                    Khác
                </option>
            </select>

    </div>


    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email">
        <small class="form-text text-danger"
               *ngIf="updateEmployee.get('email')?.hasError('required')  && updateEmployee.get('email')?.touched">
            Email không được để trống
        </small>
        <small class="form-text text-danger"
               *ngIf="updateEmployee.get('email')?.hasError('pattern')  && updateEmployee.get('email')?.touched">
            Email không dúng định dạng
        </small>
    </div>

    <div class="form-group">
        <label for="idCard">CMND</label>
        <input type="text" class="form-control" id="idCard" formControlName="idCard">
        <small class="form-text text-danger"
               *ngIf="updateEmployee.get('idCard')?.hasError('required')  && updateEmployee.get('idCard')?.touched">
            CMND không được để trống
        </small>
        <small class="form-text text-danger"
               *ngIf="updateEmployee.get('idCard')?.hasError('pattern')  && updateEmployee.get('idCard')?.touched">
            CMND phải 9 số
        </small>
    </div>

    <div class="form-group">
        <label for="phoneNumber">Số Điện Thoại</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
        <small class="form-text text-danger"
               *ngIf="updateEmployee.get('phoneNumber')?.hasError('required')  && updateEmployee.get('phoneNumber')?.touched">
            Số điện thoại không được để trống
        </small>
        <small class="form-text text-danger"
               *ngIf="updateEmployee.get('phoneNumber')?.hasError('pattern') && updateEmployee.get('phoneNumber')?.touched">
            Số điện thoại không đúng
        </small>
    </div>

    <div class="form-group">
        <label for="address">Địa Chỉ</label>
        <input type="text" class="form-control" id="address" formControlName="address">
        <small class="form-text text-danger"
               *ngIf="updateEmployee.get('address')?.hasError('required')  && updateEmployee.get('address')?.touched">
            Địa chỉ không được để trống
        </small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
