.st_seat_lay_row #A1[type="checkbox"] + label:before {
	content:"1";
}
.st_seat_lay_row #A2[type="checkbox"] + label:before {
	content:"2";
}
.st_seat_lay_row #A3[type="checkbox"] + label:before {
	content:"3";
}
.st_seat_lay_row #A4[type="checkbox"] + label:before {
	content:"4";
}
.st_seat_lay_row #A5[type="checkbox"] + label:before {
	content:"5";
}
.st_seat_lay_row #A6[type="checkbox"] + label:before {
	content:"6";
}
.st_seat_lay_row #A7[type="checkbox"] + label:before {
	content:"7";
}
.st_seat_lay_row #A8[type="checkbox"] + label:before {
	content:"8";
}
.st_seat_lay_row #A9[type="checkbox"] + label:before {
	content:"9";
}
.st_seat_lay_row #A10[type="checkbox"] + label:before {
	content:"10";
}
.st_seat_lay_row #A11[type="checkbox"] + label:before {
	content:"11";
}
.st_seat_lay_row #A12[type="checkbox"] + label:before {
	content:"12";
}
.st_seat_lay_row #A13[type="checkbox"] + label:before {
	content:"13";
}
.st_seat_lay_row #A14[type="checkbox"] + label:before {
	content:"14";
}
.st_seat_lay_row #A15[type="checkbox"] + label:before {
	content:"15";
}
.st_seat_lay_row #A16[type="checkbox"] + label:before {
	content:"16";
}
.st_seat_lay_row #A17[type="checkbox"] + label:before {
	content:"17";
}
.st_seat_lay_row #A18[type="checkbox"] + label:before {
	content:"18";
}
.st_seat_lay_row #A19[type="checkbox"] + label:before {
	content:"19";
}
.st_seat_lay_row #A20[type="checkbox"] + label:before {
	content:"20";
}
.st_seat_lay_row #A21[type="checkbox"] + label:before {
	content:"21";
}
.st_seat_lay_row #A22[type="checkbox"] + label:before {
	content:"22";
}
.st_seat_lay_row #A23[type="checkbox"] + label:before {
	content:"23";
}
.st_seat_lay_row #B1[type="checkbox"] + label:before {
	content:"1";
}
.st_seat_lay_row #B2[type="checkbox"] + label:before {
	content:"2";
}
.st_seat_lay_row #B3[type="checkbox"] + label:before {
	content:"3";
}
.st_seat_lay_row #B4[type="checkbox"] + label:before {
	content:"4";
}
.st_seat_lay_row #B5[type="checkbox"] + label:before {
	content:"5";
}
.st_seat_lay_row #B6[type="checkbox"] + label:before {
	content:"6";
}
.st_seat_lay_row #B7[type="checkbox"] + label:before {
	content:"7";
}
.st_seat_lay_row #B8[type="checkbox"] + label:before {
	content:"8";
}
.st_seat_lay_row #B9[type="checkbox"] + label:before {
	content:"9";
}
.st_seat_lay_row #B10[type="checkbox"] + label:before {
	content:"10";
}
.st_seat_lay_row #B11[type="checkbox"] + label:before {
	content:"11";
}
.st_seat_lay_row #B12[type="checkbox"] + label:before {
	content:"12";
}
.st_seat_lay_row #B13[type="checkbox"] + label:before {
	content:"13";
}
.st_seat_lay_row #B14[type="checkbox"] + label:before {
	content:"14";
}
.st_seat_lay_row #B15[type="checkbox"] + label:before {
	content:"15";
}
.st_seat_lay_row #B16[type="checkbox"] + label:before {
	content:"16";
}
.st_seat_lay_row #B17[type="checkbox"] + label:before {
	content:"17";
}
.st_seat_lay_row #B18[type="checkbox"] + label:before {
	content:"18";
}
.st_seat_lay_row #B19[type="checkbox"] + label:before {
	content:"19";
}
.st_seat_lay_row #B20[type="checkbox"] + label:before {
	content:"20";
}
.st_seat_lay_row #B21[type="checkbox"] + label:before {
	content:"21";
}
.st_seat_lay_row #B22[type="checkbox"] + label:before {
	content:"22";
}
.st_seat_lay_row #B23[type="checkbox"] + label:before {
	content:"23";
}
.st_seat_lay_row #C1[type="checkbox"] + label:before {
	content:"1";
}
.st_seat_lay_row #C2[type="checkbox"] + label:before {
	content:"2";
}
.st_seat_lay_row #C3[type="checkbox"] + label:before {
	content:"3";
}
.st_seat_lay_row #C4[type="checkbox"] + label:before {
	content:"4";
}
.st_seat_lay_row #C5[type="checkbox"] + label:before {
	content:"5";
}
.st_seat_lay_row #C6[type="checkbox"] + label:before {
	content:"6";
}
.st_seat_lay_row #C7[type="checkbox"] + label:before {
	content:"7";
}
.st_seat_lay_row #C8[type="checkbox"] + label:before {
	content:"8";
}
.st_seat_lay_row #C9[type="checkbox"] + label:before {
	content:"9";
}
.st_seat_lay_row #C10[type="checkbox"] + label:before {
	content:"10";
}
.st_seat_lay_row #C11[type="checkbox"] + label:before {
	content:"11";
}
.st_seat_lay_row #C12[type="checkbox"] + label:before {
	content:"12";
}
.st_seat_lay_row #C13[type="checkbox"] + label:before {
	content:"13";
}
.st_seat_lay_row #C14[type="checkbox"] + label:before {
	content:"14";
}
.st_seat_lay_row #C15[type="checkbox"] + label:before {
	content:"15";
}
.st_seat_lay_row #C16[type="checkbox"] + label:before {
	content:"16";
}
.st_seat_lay_row #C17[type="checkbox"] + label:before {
	content:"17";
}
.st_seat_lay_row #C18[type="checkbox"] + label:before {
	content:"18";
}
.st_seat_lay_row #C19[type="checkbox"] + label:before {
	content:"19";
}
.st_seat_lay_row #C20[type="checkbox"] + label:before {
	content:"20";
}
.st_seat_lay_row #C21[type="checkbox"] + label:before {
	content:"21";
}
.st_seat_lay_row #C22[type="checkbox"] + label:before {
	content:"22";
}
.st_seat_lay_row #C23[type="checkbox"] + label:before {
	content:"23";
}
.st_seat_lay_row #D1[type="checkbox"] + label:before {
	content:"1";
}
.st_seat_lay_row #D2[type="checkbox"] + label:before {
	content:"2";
}
.st_seat_lay_row #D3[type="checkbox"] + label:before {
	content:"3";
}
.st_seat_lay_row #D4[type="checkbox"] + label:before {
	content:"4";
}
.st_seat_lay_row #D5[type="checkbox"] + label:before {
	content:"5";
}
.st_seat_lay_row #D6[type="checkbox"] + label:before {
	content:"6";
}
.st_seat_lay_row #D7[type="checkbox"] + label:before {
	content:"7";
}
.st_seat_lay_row #D8[type="checkbox"] + label:before {
	content:"8";
}
.st_seat_lay_row #D9[type="checkbox"] + label:before {
	content:"9";
}
.st_seat_lay_row #D10[type="checkbox"] + label:before {
	content:"10";
}
.st_seat_lay_row #D11[type="checkbox"] + label:before {
	content:"11";
}
.st_seat_lay_row #D12[type="checkbox"] + label:before {
	content:"12";
}
.st_seat_lay_row #D13[type="checkbox"] + label:before {
	content:"13";
}
.st_seat_lay_row #D14[type="checkbox"] + label:before {
	content:"14";
}
.st_seat_lay_row #D15[type="checkbox"] + label:before {
	content:"15";
}
.st_seat_lay_row #D16[type="checkbox"] + label:before {
	content:"16";
}
.st_seat_lay_row #D17[type="checkbox"] + label:before {
	content:"17";
}
.st_seat_lay_row #D18[type="checkbox"] + label:before {
	content:"18";
}
.st_seat_lay_row #D19[type="checkbox"] + label:before {
	content:"19";
}
.st_seat_lay_row #D20[type="checkbox"] + label:before {
	content:"20";
}
.st_seat_lay_row #D21[type="checkbox"] + label:before {
	content:"21";
}
.st_seat_lay_row #D22[type="checkbox"] + label:before {
	content:"22";
}
.st_seat_lay_row #D23[type="checkbox"] + label:before {
	content:"23";
}
/**/
.st_seat_lay_row #E1[type="checkbox"] + label:before {
	content:"1";
}
.st_seat_lay_row #E2[type="checkbox"] + label:before {
	content:"2";
}
.st_seat_lay_row #E3[type="checkbox"] + label:before {
	content:"3";
}
.st_seat_lay_row #E4[type="checkbox"] + label:before {
	content:"4";
}
.st_seat_lay_row #E5[type="checkbox"] + label:before {
	content:"5";
}
.st_seat_lay_row #E6[type="checkbox"] + label:before {
	content:"6";
}
.st_seat_lay_row #E7[type="checkbox"] + label:before {
	content:"7";
}
.st_seat_lay_row #E8[type="checkbox"] + label:before {
	content:"8";
}
.st_seat_lay_row #E9[type="checkbox"] + label:before {
	content:"9";
}
.st_seat_lay_row #E10[type="checkbox"] + label:before {
	content:"10";
}
.st_seat_lay_row #E11[type="checkbox"] + label:before {
	content:"11";
}
.st_seat_lay_row #E12[type="checkbox"] + label:before {
	content:"12";
}
.st_seat_lay_row #E13[type="checkbox"] + label:before {
	content:"13";
}
.st_seat_lay_row #E14[type="checkbox"] + label:before {
	content:"14";
}
.st_seat_lay_row #E15[type="checkbox"] + label:before {
	content:"15";
}
.st_seat_lay_row #E16[type="checkbox"] + label:before {
	content:"16";
}
.st_seat_lay_row #E17[type="checkbox"] + label:before {
	content:"17";
}
.st_seat_lay_row #E18[type="checkbox"] + label:before {
	content:"18";
}
.st_seat_lay_row #E19[type="checkbox"] + label:before {
	content:"19";
}
.st_seat_lay_row #E20[type="checkbox"] + label:before {
	content:"20";
}
.st_seat_lay_row #E21[type="checkbox"] + label:before {
	content:"21";
}
.st_seat_lay_row #E22[type="checkbox"] + label:before {
	content:"22";
}
.st_seat_lay_row #E23[type="checkbox"] + label:before {
	content:"23";
}