<div class="container align-items-center">
    <div class="prs_heading_section_wrapper" style="margin-bottom: 40px; margin-top: -100px">

    </div>
    <h2 class="text-center">Danh Sách Phim</h2>
    <table class="table table-hover table-striped table-bordered table-responsive text-center">
        <thead class="thead-dark">
        <tr style="box-sizing: border-box; font-family: 'Poppins', sans-serif;">
            <th style="text-align: center;">STT</th>
            <th style="text-align: center;">Họ và tên</th>
            <th style="text-align: center;">Chứng minh thư</th>
            <th style="text-align: center;">Số điện thoại</th>
            <th style="text-align: center;">Ngày sinh</th>
            <th style="text-align: center;">Email</th>
            <th style="text-align: center;">Địa Chỉ</th>
            <th scope="col">Hủy</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let member of memberList | paginate:{itemsPerPage:5,currentPage:p}, let i = index ">
            <td style="box-sizing: border-box; font-family: 'Poppins', sans-serif;"> {{i + 1}}</td>
            <td style="box-sizing: border-box; font-family: 'Poppins', sans-serif;"> {{member.fullName}}</td>
            <td style="box-sizing: border-box; font-family: 'Poppins', sans-serif;">{{member.idCard}}</td>
            <td style="box-sizing: border-box; font-family: 'Poppins', sans-serif;">{{member.phoneNumber}}</td>
            <td style="box-sizing: border-box; font-family: 'Poppins', sans-serif;">{{member.dayOfBirth | date: 'dd-MM-yyyy'}} </td>
            <td style="box-sizing: border-box; font-family: 'Poppins', sans-serif;">{{member.email}} </td>
            <td style="box-sizing: border-box; font-family: 'Poppins', sans-serif;">{{member.address}}</td>
            <td>
                <a [routerLink]="['/update/',member.id]" class="detailButton">
                    <i style="color: blue" class="fa fa-edit"></i>
                </a>
            </td>


        </tr>
        </tbody>
    </table>
    <pagination-controls class="text-right" *ngIf="checkPagination" [directionLinks]=true [autoHide]=true [responsive]=true (pageChange)="p=$event" previousLabel="Trước" nextLabel="Sau"></pagination-controls>

</div>
