<!-- prs navigation Start -->
<div class="prs_navigation_main_wrapper">
    <div class="container-fluid">
        <div class="prs_navi_left_main_wrapper">
            <div class="prs_logo_main_wrapper">
                <a (click)="home()" style="cursor: pointer;">
                    <img src="assets/images/header/logo.png" alt="logo"/>
                </a>
            </div>
            <div class="prs_menu_main_wrapper">
                <nav class="navbar navbar-default p-0">
                    <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                        <button class="dl-trigger">
                            <img src="assets/images/header/bars.png" alt="bar_png">
                        </button>
                        <div class="prs_mobail_searchbar_wrapper" id="search_button"><i class="fa fa-search"></i>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="dl-menu">
                            <li class="parent"><a (click)="home()" style="cursor: pointer;">Trang chủ</a></li>
                            <li class="parent"><a href="#">Lịch chiếu</a>
                            </li>
                            <li class="parent"><a (click)="home()" style="cursor: pointer;">Phim</a>
                                <ul class="lg-submenu" style="z-index: 10">
                                    <li><a href="#">Phim đang chiếu</a></li>
                                    <li><a href="#">Phim sắp chiếu</a></li>
                                </ul>
                            </li>
                            <li class="parent"><a href="#">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /dl-menuwrapper -->
                </nav>
            </div>
        </div>
        <div class="prs_navi_right_main_wrapper">
            <div class="prs_top_login_btn_wrapper" style="margin-left: 5px;">
                <div class="prs_animate_btn1">
                    <ul>
                        <li><a *ngIf="! isLoggedIn()" [routerLink]="['/login']" class="button button--tamaya"
                               data-text="Đăng nhập"><span>Đăng nhập</span></a>
                            <a *ngIf="isLoggedIn()" [routerLink]="['/login']" class="button button--tamaya"
                               data-text="Đăng xuất"
                               (click)="logout()"><span>Đăng xuất</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="isLoggedIn()" class="prs_slidebar_wrapper" style="margin-right: 5px">
                <button class="second-nav-toggler" type="button" style="color: white; width: auto">
                    {{authService.getFullName()}}
                </button>
            </div>

        </div>
    </div>
</div>
<!-- prs navigation End -->
