<div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary text-center">Sửa thông tin thành viên
    </h4>
</div>

<div class="card-body">
    <form [formGroup]="updateMember" (ngSubmit)="save()">
    <div class="responsive">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">Tài
                        khoản(*):</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="colFormLabel"  placeholder="Tài khoản" disabled="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">Họ và
                        tên(*):</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="colFormLabel" placeholder="Họ và tên" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">Mật
                        khẩu(*):</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="colFormLabel" placeholder="Mật khẩu">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">Ngày
                        sinh(*):</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="colFormLabel" placeholder="Ngày sinh" disabled="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">Giới
                        tính(*):</label>
                    <div class="form-check form-check-inline col-sm-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               value="option1">
                        <label class="form-check-label" for="inlineRadio1">Nam</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                               value="option2">
                        <label class="form-check-label" for="inlineRadio2">Nữ</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">Email(*):</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="colFormLabel" formControlName="email" placeholder="Email" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">CMND(*):</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="colFormLabel" placeholder="Chứng minh nhân dân"
                               disabled="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">Số điện
                        thoại(*):</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="colFormLabel" formControlName="phoneNumber" placeholder="số điện thoại">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">Địa
                        chỉ(*):</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="colFormLabel" formControlName="address" placeholder="Địa chỉ">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="colFormLabel" class="col-sm-4 col-form-label"><a class="btn btn-secondary" href="#">Trở
                        lại</a></label>
                    <label for="colFormLabel" class="col-sm-4 col-form-label"><a class="btn btn-primary"
                                                                                 href="#">Lưu</a></label>
                    <div class="col-sm-1"></div>
                </div>
            </div>


            <div class="col-md-3"></div>


        </div>
    </div>
    </form>
</div>

<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>CodeGym-cinema 2022</span>
        </div>
    </div>
</footer>
