<h1 mat-dialog-title>Quên mật khẩu</h1>

<mat-dialog-content>

    <input type="text" #username placeholder="Tên đăng nhập">
    <small *ngIf="isGetOtp ; else elseIsGetOtp">
        <button (click)="getOtp(username.value)">Lấy mã</button>
    </small>
    <ng-template #elseIsGetOtp><button>Lấy mã</button></ng-template>

    <div *ngIf="isInputOtp">
        <input #otp type="text" placeholder="Nhập mã OTP">
        <br>
        <input #newPassword type="text" placeholder="Nhập mật khẩu mới">
        <button (click)="forgotPassword(otp.value,newPassword.value)">Gửi</button>
    </div>

    <div class="button-submit">
        <button mat-raised-button mat-dialog-close style="margin-right: 8px;">Hủy</button>
        <!--        <button mat-raised-button color="primary" (click)="update()">Cập nhật</button>-->
    </div>

</mat-dialog-content>
