<h1 mat-dialog-title>Thay đổi mật khẩu</h1>

<mat-dialog-content>

    <form [formGroup]="formForgotPassword">

        <div *ngIf="isGetOtp; else elseGetOtp" class="input-group">
            <input formControlName="username" type="text" placeholder="Tên đăng nhập" class="form-control">
        </div>
        <ng-template #elseGetOtp>
            <input formControlName="username" type="text" placeholder="Tên đăng nhập" class="form-control" readonly>
        </ng-template>
        <br>

        <div *ngIf="isInputOtp">
            <input formControlName="otp" #otp type="text" placeholder="Nhập mã OTP (6 ký tự)" class="form-control"
                   maxlength="6">
            <br>
            <div id="inline">
            <input class="one" [type]="fieldTextType ? 'text' : 'password'" formControlName="newPassword" #newPassword
                   placeholder="Nhập mật khẩu mới"
                   class="form-control">
            <div class="input-group-append two">
                <span class="input-group-text">
                    <i class="fa" [ngClass]="{ 'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"
                       (click)="toggleFieldTextType()"></i>
                </span>
            </div>
            </div>
            <br>
        </div>
        <div class="button-submit">
            <button mat-raised-button mat-dialog-close>Hủy</button>
            <label *ngIf="isGetOtp">
                <button mat-raised-button color="primary" (click)="sendOtp(formForgotPassword.get('username')?.value)"
                        style="margin-left: 50px;">
                    Lấy mã
                </button>
            </label>
            <label *ngIf="isInputOtp">
                <button mat-raised-button color="primary" (click)="changePassword()" style="margin-left: 50px;">
                    Xác nhận
                </button>
            </label>

        </div>
    </form>
</mat-dialog-content>
