.edit-user a{
    color: #00A0D1;
    text-align: center;
}

.header {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.dataTables_filter {
    margin-bottom: 10px;
}

.col-sm-12 {
    width: 90%;
    margin-left: 80px;
}

.col-sm-6 {
    margin-left: 80px;
}
